$font-size-min: 12px;
$font-size-mid: 16px;
$font-size-max: 20px;

$font-color-grey-min: rgba(0,0,0,.8);
$font-color-grey-mid: rgba(0,0,0,.5);
$font-color-grey-max: rgba(0,0,0,.2);

$theme-color: rgb(26, 82, 224)