$font-size0: 12px;
$font-size1: 14px;
$font-size2: 16px;
$font-size3: 18px;
$font-size3: 20px;

$font-color-grey0: rgb(70, 70, 70);
$font-color-grey1: rgb(105, 105, 105);
$font-color-grey2: rgb(140, 140, 140);
$font-color-grey3: rgb(175, 175, 175);

$theme-color-violet0: rgb(243, 237, 249);
$theme-color-violet1: rgb(226, 209, 244);
$theme-color-violet2: rgb(196, 167, 233);
$theme-color-violet3: rgb(166, 127, 221);
$theme-color-violet4: rgb(166, 127, 221);
$theme-color-violet5: rgb(106, 58, 199);
$theme-color-violet6: rgb(87, 47, 179);
$theme-color-violet7: rgb(70, 37, 158);
$theme-color-violet8: rgb(54, 28, 138);
$theme-color-violet9: rgb(40, 20, 117);
